body {
  /* fill the viewport */
  height: 100vh;
  width: 100vw;
  /* center the content */
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 75vw;
  height: 75vh;
  padding-bottom: 2rem;
}

.center {
  text-align: center;
}

.axis {
  fill: white;
}

.axis path {
  stroke-width: 1px;
  stroke: white;
  fill: black;
}

.axis--x text {
  font-size: 12pt;
  transform: translate(0, 20px) rotate(-20deg);
}

.axis--y text {
  font-size: 12pt;
}

.axis--y .axis-title {
  font-size: 16pt;
}
